body{
	margin:0px;
	padding:0px;
	background-color: #819ff7;
}

#toggle-view {
	list-style:none;	
	font-family:arial;
	font-size:11px;
	margin:0px;
	padding:5px;
	width:97%;
	background-color: #819ff7;
}

#toggle-view li {
	padding:10px;
	border-bottom:1px solid #ccc;
	position:relative;
	cursor:pointer;
	background-color: #5882fa;
}

#toggle-view h3 {
	margin:0;
	font-size:20px;
	color:#FFF;
}

#toggle-view span {
	position:absolute;
	right:5px; top:0;
	color:#ccc;
	font-size:13px;
}

#toggle-view .panel {
	margin:5px 0;
	display:none;
}	

.inner_ul{
	list-style: outside none disc;
    margin-left: -15px;
}

ul.inner_ul li {
	color: #fff;
    font-size: 16px;
    padding: 5px 5px 0 !important;
}

.app_heading{
	text-align: center;
	font-size: 22px !important;
	font-weight: bold;
}

